@charset "UTF-8";

/* hero */
.contents{
  width: 100%;
  position: relative;
}
.banner_area{
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../image/Visual_object_img.png) calc(100% - 20%) bottom no-repeat var(--main-bg-color-blue2);
}
.search{
  width: 1280px;
  margin: 0 auto;
  position: relative;
}
.title_2{
  font-size: var(--main-h2-font-size);
  font-weight: 600;
  color: var(--text-color-fff);
}
.search_area{
  position: relative;
  width: 500px;
  margin-top: 20px;
}
.search_text{
  width: 100%;
  height: 40px;
  border: 1px solid #fff !important;
}
.search_text::placeholder{
  padding-left: 10px;
  color:var(--text-color-fff);
}
.search_btn{
  position: absolute;
  top: 10px;
  right: 2px;
  background: url(../image/Search_btn.png);
  width: 26px;
  height: 26px;
  border: none;
  cursor: pointer;
}
.search_description{
  font-size: var(--heaer-font-size);
  color: var(--text-color-fff);
  margin-top: 20px;
}

/* quick menu */
.quick_menu_area{
  width: var(--main-width);
  margin: 0 auto;
  position: relative;
}
.main_title{
  border-bottom: var(--border-bottm);
  font-size: var(--main-h3-font-size);
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-weight: 600;
}
.icon_menu{
  display: flex;
  justify-content: space-between;
}
.icon_menu li a{
  height: 40px;
  display: inline-block;
  padding-top: 60px;
  letter-spacing: -0.05em;
  background-image:url(../image/icon_set_service_202403.png);
  background-repeat: no-repeat;
}
.icon1 a{
  background-position: 17px 0;
}
.icon2 a{
  background-position: -58px 0 ;
}
.icon3 a{
  background-position: -116px 0;
}
.icon4 a{
  background-position: -188px 0;
}
.icon5 a{
  background-position: -243px 0;
}
.icon6 a{
  background-position: -298px 0;
}
.icon7 a{
  background-position: -353px 0;
}
.icon8 a{
  background-position: -418px 0;
}
.icon9 a{
  background-position: -480px 0;
}
.icon10 a{
  background-position: -533px 0;
}

/* story */
.story_area{
  width: 100%;
  background-color: var(--main-bg-color-gray1);
}
.story_area_div{
  width: var(--main-width);
  margin: 0 auto;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.story_area_div a{
  width: 230px;
  height: 70px;
  display: inline-block;
  border-right: 1px solid #d9d9d9;
}
.story_area_div a:nth-child(1){
  border-left: 1px solid #d9d9d9;
}
.story_seoul{
  background-image: url(../image/IMGBANNER_20230201091039_10607.jpg);
}
.festival_seoul{
  background-image: url(../image/IMGBANNER_20230201091157_32939.jpg);
}
.story_prosecutor{
  background-image: url(../image/IMGBANNER_20230901101701_34553.jpg);
}
.story_government{
  background-image: url(../image/IMGBANNER_20230901101808_05366.jpg);
}
.story_complaint{
  background-image: url(../image/IMGBANNER_20230901153028_57199.jpg);
}


/* notice */
.notice_area{
  width: var(--main-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 650px 544px;
  gap: 86px;
}
.notice{
  position: relative;
}
.notice_list{
  display: flex;
}
.notice_list li{
  width: 80px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--main-h3-font-size);
  font-weight: 700;
}
.notice_list li a[aria-selected=true]{
  color: var(--text-color-true);
}

.tabpanel{
  width: 650px;
  position: absolute;
  top: 30px;
  left: 0;
  padding: 10px;
  border: var(--border);
  border-radius: var(--border-radius);
  display: grid;
  gap: 10px;
  grid-template-rows: 120px 180px;
}
.tabpanel_box{
  border-bottom: 1px dotted #d4d4d4;
  display: flex;
}
.day_box{
  width: 300px;
  background-color: var(--main-bg-color-gray1);
  display: flex;
  margin-right: 20px;
  border-radius: var(--border-radius);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.day_box .year{
  font-size: var(--main-h3-font-size);
}
.day_box .dd{
  font-size: var(--main-h2-font-size);
}

.day_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--main-h3-font-size);
}
.day_text .day_title{
  font-weight: 700;
  margin-bottom: 10px;
}
.day_text .day_description{
  line-height: 1.4;
  font-size: var(--font-size-12);
  overflow: hidden;
  -webkit-line-clamp: 2;
  height: calc(1.4em * 2);
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.tabpanel_list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.tabpanel_list li{
  line-height: 2;
  display: flex;
  justify-content: space-between;
}
.tabpanel_list li a{
  font-weight: 700;
}

.popup{
  position: relative;
  height: 363px;
}
.btn_banner_area{
  position: absolute;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 338px;
}
.btn_banner_area button{
  position: absolute;
  width: 56px;
  height: 56px;
  display: inline-block;
  border-radius: 50%;
  border: none 0;
}
.btn_banner_area button:hover{
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
}
.prev_slidebanner{
  background-image: url(../image/slider-arrow-left.png);
  left: -28px;
}
.next_slidebanner{
  background-image: url(../image/slider-arrow-right.png);
  right: -28px;
}
.slides{
  width: 100%;
  overflow: hidden;

}
.slid_banner{
  display: flex;
  width: 300%;
}
.slid_banner li{
  width: 33.3333%;
  height: auto;
}
.btn_slide_num_area{
  width: 100%;
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  z-index: 999;
}
.btn_slide_num_area li{
  width: 12px;
  height: 12px;
  background-color: #929292;
  border: var(--border);
  border-radius: 50%;
  margin-right: 20px;
  display: block;
}
.btn_slide_num_area > li:last-child > a{
  margin-right: 0;
}
.btn_slide_num_area li a[aria-currnt="true"]{
  width: 36px;
  height: 12px;
  border-radius: 10px;
  background-color: var(--main-bg-color-blue);
}

/* news */
.news_area{
  width: var(--main-width);
  position: relative;
  margin: 0 auto;

}
.news_area .news_list{
  display: flex;
  justify-content: space-between;
}
.news_area .news_list li{
  width: 273px;
}
.news_area .news_list li img{
  margin-bottom: 10px;
  display: block;
}
.news_area .news_list li img:hover{
  box-shadow: 0 1px 5px rgba(0,0,0,.2);
}
.news_area .news_more{
  position: absolute;
  right: 0;
  top: 5px;
}












